@import "src/app/config/config.scss";

:host {
  display: flex;
  justify-content: center;
}

.purchase-title {
  padding: 12px;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;

  &-submit, &-submit:disabled {
    color: $color-white;
    background-color: $color-blue-2;
  }

  &-submit:hover {
    color: $color-white;
    background-color: $color-blue-3;
  }

}
