<div class="my-purchases-header">
  <h1>My purchases</h1>
</div>
<div class="purchase-container" *ngIf="myPurchases?.length; else noData">
  <div class="purchase-mat-cards" *ngFor="let purchase of dataSource; trackBy: pageItemTrack">
    <mat-card class="purchase-card">
      <mat-card-header>
        <mat-card-title>{{purchase.offer.product.shortName}}</mat-card-title>
        <mat-card-subtitle>{{purchase.offer.product.price}} $</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-img [src]="purchase.offer.product.images[0]?.url" alt="purchase photo" class="purchase-photo" fill>
      <mat-card-content>
        <p>Category: {{purchase.offer.product.category.name}}</p>
        <p>Purchased: {{purchase.dateAndTime}}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<ng-template #noData>
  <img class="no-data" src="https://img.freepik.com/free-vector/no-data-concept-illustration_114360-536.jpg?w=2000">
</ng-template>
<mat-paginator class="my-paginator" #paginator pageSize="pageSize" hidePageSize="true" showFirstLastButtons
               [length]="totalItems" [pageSizeOptions]="[pageSize]" [pageIndex]="currentPage"
               (page)="pageChanged($event)">
</mat-paginator>
