@import "src/app/config/config.scss";
.purchase-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 32px;
}

.purchase-photo {
  min-width: 300px;
  height: 199px;
  max-height: 199px;
  min-height: 199px;
}

.no-data {
  height: 27%;
  width: 27%;
  margin: auto;
  display: block;
}

.purchase-card {
  max-width: 300px;
  height: 332px;
  margin: 8px;
}

.purchase-card:hover {
  box-shadow: 0 8px 8px 8px rgba(0,0,0,.2), 0 8px 8px 0 rgba(0,0,0,.14), 0 8px 8px 0 rgba(0,0,0,.12) !important;
  transform: translate3d(0,0,0);
  transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
  cursor: pointer;
}

.my-paginator {
  margin-top: 16px;
}

.my-purchases-header {
  text-align: center;
  color: $color-blue-3;
}
