@import "src/app/config/config.scss";

.send-message-labels {
  color: $color-blue-3;
}

:host {
  display: flex;
  justify-content: center;
  margin: 0;
}

.send-message-title {
  padding: 12px;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: flex-end;

  &-submit, &-submit:disabled {
    color: $color-white;
    background-color: $color-blue-2;
  }

  &-submit:hover {
    color: $color-white;
    background-color: $color-blue-3;
  }

}

.send-message-wrapper {
  width: 444px;
}

.send-message-field {
  width: 416px;
}

.send-message-text {
  min-height: 84px;
}

@media (max-width: 800px) {

  .send-message-wrapper {
    width: unset;
  }

  .send-message-field {
    width: unset;
  }

}
