@import "src/app/config/config.scss";

:host {
  display: flex;
  justify-content: center;
  margin: 0;
}

.new-offer-title {
  padding: 12px;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: flex-end;

  &-submit, &-submit:disabled {
    color: $color-white;
    background-color: $color-blue-2;
  }

  &-submit:hover {
    color: $color-white;
    background-color: $color-blue-3;
  }

}

.new-offer-wrapper {
  width: 444px;
}

.new-offer-field, .category__select {
  width: 416px;
}

@media (max-width: 800px) {

  .new-offer-wrapper {
    width: unset;
  }

  .new-offer-field, .category__select {
    width: unset;
  }

}
